// Colors
$primary-color:  #283831;
$black: #283831;
$white: #fff;
$gray:  #283831;
$border-color: #B8860B;
$primary-font: 'butlerbold';
$secondary-font: 'bebas_neue_regular';
$icon-font: 'FontAwesome';
$text-color: #d1753b;
$text-color-dark: #d1753b;
$btn-color: #FAEBD7;
$body-color: #FAEBD7;