// Colors
$primary-color:  #FAEBD7;
$black: #FAEBD7;
$white: #fff;
$gray:  #FAEBD7;
$border-color: #FAEBD7;
$primary-font: 'butlerbold';
$secondary-font: 'bebas_neue_regular';
$icon-font: 'FontAwesome';
$text-color: $white;
$text-color-dark: #FAEBD7;
$btn-color: #FAEBD7;
$body-color: #FAEBD7;